
@page "{Id:int?}"
@model PrestamosGHI.Pages.Clientes.AprobacionModel
@{
}

<div class="col-lg-12 mb-5">
    <div class="card">
        <div class="card-header">
            <h3 class="h6 text-uppercase mb-0">Esta editando El cliente: @Model.Cliente.Nombre @Model.Cliente.Apellido</h3>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-group row">
                    <div class="col-md-6 mb-5">
                        <div class="form-group">
                            <label asp-for="Cliente.Nombre" class="form-control-label text-uppercase">Nombre:</label>
                            <input type="text" class="form-control" asp-for="Cliente.Nombre" readonly="readonly" />
                            <span class="text-danger" asp-validation-for="Cliente.Nombre"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cliente.Apellido" class="form-control-label text-uppercase">Apellido:</label>
                            <input type="text" class="form-control" asp-for="Cliente.Apellido" readonly="readonly" />
                            <span class="text-danger" asp-validation-for="Cliente.Apellido"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cliente.Cedula" class="form-control-label text-uppercase">Cedula:</label>
                            <input type="text" class="form-control" asp-for="Cliente.Cedula" readonly="readonly" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Cliente.Direccion" class="form-control-label text-uppercase">Direccion:</label>
                            <input type="text" class="form-control" asp-for="Cliente.Direccion" readonly="readonly" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Cliente.Telefono" class="form-control-label text-uppercase">Telefono:</label>
                            <input type="text" class="form-control" asp-for="Cliente.Telefono" readonly="readonly" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Cliente.MontoPrestamo" class="form-control-label text-uppercase">Monto del Prestamo</label>
                            <input type="text" id="montoprestamo" class="form-control" asp-for="Cliente.MontoPrestamo" readonly="readonly" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Cliente.IngresoNeto" class="form-control-label text-uppercase">Ingresos Netos</label>
                            <input type="text" class="form-control" asp-for="Cliente.IngresoNeto" readonly="readonly" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Cliente.Plazo" class="form-control-label text-uppercase">Tiempo</label>
                            <input type="text" class="form-control" asp-for="Cliente.Plazo" readonly="readonly" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Cliente.Fprestamo" class="form-control-label text-uppercase">Fecha</label>
                            <input type="text" class="form-control" asp-for="Cliente.Fprestamo" readonly="readonly" />
                        </div>

                        <div class="form-group">
                            <input type="hidden" class="form-control" asp-for="Cliente.AprobadaRechasada" />
                            <input type="hidden" class="form-control" asp-for="Cliente.GuiId" />
                        </div>

                    </div>
                    <div class="col-md-6 mb-5">

                        <table class="table table-bordered">

                            <thead>
                                <tr>
                                    <th>NroCuota:</th>
                                    <th>Capital:</th>
                                    <th>Interes:</th>
                                    <th>cuotaMensual:</th>
                                    <th>Pendiente:</th>

                                </tr>
                            </thead>
                            <tbody id="tb-body">
                                @foreach (var item in Model.Cliente.CalculoList)
                                {
                                    <tr>
                                        <td>@item.NroCuota:</td>
                                        <td>@item.Capital:</td>
                                        <td>@item.Interes:</td>
                                        <td>@item.cuotaMensual:</td>
                                        <td>@item.Pendiente:</td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12 mb-5">
                        <div>
                            <div>
                                <button type="button" id="btn-aprobar" class="btn btn-success">Aprobar</button>
                                <button type="button" id="btn-rechasar" class="btn btn-success">Declinar</button>
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $('#btn-aprobar').on('click', function (e) {
            //e.preventDefault();
            $("#Cliente_AprobadaRechasada").val(true);

            $("form").submit();
        });


        $('#btn-rechasar').on('click', function (e) {
            //e.preventDefault();
            $("#Cliente_AprobadaRechasada").val(false);

            $("form").submit();

        });
    </script>
}